.categories {
    display: flex;
    justify-content: center;
    margin-top: 92px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 68px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 17px;
        align-items: center;
        width: 327px;
        height: 165px;
        background-color: #F1F1F1;
        border-radius: 8px;
        position: relative;
        padding: 22px;
        transition: all 0.3s ease;
        cursor: pointer;


        &:hover {
            background-color: rgba(216, 125, 74, 0.8);
            color: #FFF;

            img {
                top: -25px;
            }
        }
    }

    &__image {
        overflow: visible;
        position: absolute;
        top: -50px;
        transition: top 0.3s ease;
    }

    &__title {
        font-size: .9375rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.07px
    }

    &__text {
        font-size: .8125rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        gap: 13px;
    }
}

// =============================
// Responsive
// =============================

@media screen and (min-width: 768px) {
    .categories {
        margin-top: 150px;

        &__container {
            flex-direction: row;
            gap: 10px;
            margin-top: 110px;
        }

        &__section {
            width: 223px;
        }
    }
}

@media screen and (min-width: 1440px) {

}