.hero {
    position: relative;
    height: 562px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--image {
        z-index: -1;
        position: absolute;
        top: -100px;
        width: 100vw;
    }

    &__container {
        width: 328px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        &--subtitle {
            opacity: 50%;
            text-transform: uppercase;
            letter-spacing: 10px;
            font-weight: 400;
            font-size: 0.875rem;
        }

        &--title {
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2.25rem;
            letter-spacing: 1.30px;
            line-height: 40px;
        }

        &--text {
            text-align: center;
            opacity: 75%;
            line-height: 25px;
        }

        &--button {
            width: 160px;
            font-family: 'Manrope';
            height: 48px;
            background-color: #D87D4A;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFF;
            border: none;
            font-size: 0.85rem;
            font-weight: 700;
        }
    }
}